@using Stok_Takip.Models.Entity

@model  List<Stok_Takip.Models.Entity.Kategoriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div style="width: 20%;float:left">
                @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "Kategori adı" })
            </div>
        </div>
        <div style="float: left;margin-left:5px">
            @Html.ActionLink("Ara", "Index", null, new { @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })
        </div>
        <br />
        <br />

    }
</div>

<h2>Kategori Ana Sayfası</h2>

<table class="table table-bordered" id="Kategori">
    <thead style="background-color:aliceblue">
        <tr>
            <th>ID </th>
            <th>Kategori</th>
            <th>Açıklama</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ID</th>
                <td>@item.Kategori</td>
                <td>@item.Aciklama</td>

                <td><input type="submit" name="btn" value="Sil" class="btn btn-danger btnSil" data-id="@item.ID" /></td>
                <td><a href="/Kategori/GüncelleBilgiGetir/@item.ID" class="btn btn-primary">Güncelle</a></td>

            </tr>
        }

    </tbody>

</table>
@if (User.IsInRole("A") || User.IsInRole("B"))
{
    <a href="/Kategori/Ekle/" class="btn btn-success" style="margin-top:10px">Kategori Ekle</a>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Kategori").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm(btn.data("id") + " nolu ID kaydı silinsin mi?", function (result) {

                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "POST",
                            url: "/Kategori/Sil/",
                            data: { id: id },
                            success: function () {
                                btn.parent().parent().remove();

                            }
                        });
                    }

                });

            });
        });
    </script>
}
